.home
    .content
        .home__table
            .middle
                article
                    h1 Макао
                    span.home__table_desc открой для себя замечательную красоту
                    .button-block
                        a.button Подробнее