section.info
    .content
        article
            h4 На пароме: время в пути ~ 55 мин., стоимость от 150 HKD
            
            p ОСТРОВ ГОНКОНГ — МАКАО:<br> Наиболее часто пассажирами используется паромный терминал Гонконг-Макао в Shun Tak Centre. Он расположен выше станции Sheung Wan MTR (метро) рядом с конечной остановкой автобусов. Паромное сообщение осуществляется двумя компаниями:
            
            p TurboJET предоставляет услуги скоростного сообщения 24 часа в сутки. Время в пути — приблизительно 1 час из Гонконга (Паромный терминал Гонконг-Макао) до Макао (Паромный терминал Макао илиВ ременный паромный терминал о. Тайпа). The Cotai Strip CotaiJet™ управляет паромным сообщением между Гонконгом (Паромный терминал Гонконг-Макао) и Макао (Временный паромный терминал о. 
            
            .button-block
                a.button Подробнее
                
        .info__dvm
            img(src="img/dvm.jpg")
                
    