
// основной цвет
colfirm = #33bd36
    

// второй цвет
colfirm2 = #2ea0f0
    

// третий цвет
colfirm3 = #284184
    

// цвет фона
colbg = #fff
    

// цвет фона (альтернативный)
colbg2 = #f9f9f9
    

// основной цвет текста
coltxt = #787676
    

// альтернативный цвет текста (description)
coltxt2 = #333232
    

// альтернативный цвет текста (description и прочее)
coltxt3 = #bebebe
  
    
// Цвет границ
colB = #bebebe
   
    
// Фон footer
colF = #bebebe
   
    
// Фон header
colH = #bebebe
 

// Шрифт (основной)
fonttxt = 'Conv_FuturaPTBook', sans-serif
 

// Шрифт (Жирный)
fontB = 'Libre Baskerville', sans-serif
fontBr = 'Libre Baskerville', sans-serif
fontB2 = 'Conv_FuturaPTHeavy', sans-serif
 

// Шрифт (Light)
fontL = 'Open Sans', sans-serif
 

// Шрифт (Medium)
fontM = 'Conv_FuturaPTMedium', sans-serif


// Шрифт (Medium)
fontSize = 16px

    
   
