.about
    height 1035px
    bgP(top,center,cover)
    background url(../img/about-bg.png)
    padding-top 140px
    position relative
    
    .content
        height 100%
    
    article
        float(100%)
        position relative
        
        p
            float-w(37%)
            padding-right 60px
            font-size 20px
            color coltxt
            line-height 1.8
        
    h2
        color coltxt2
        
        
    .about__slider
        abs(block,100%,auto,auto,auto)
        bottom:0px
        right -37%
        width 100%
        
        
        a
            background-color #000
            display inline-block
            
    .slick-slider
        width 100%
        float right
        
    .slick-next
        position absolute
        width 44px
        height 44px
        border-radius 50%
        background #000
        top 50%
        margin-bottom -22px
        left 50%
        margin-left -22px
        opacity 0.6
            
        
            
        