.info
    padding 76px 0
    
    article
        padding-left 200px
        padding-right 96px
        position relative

        
        
        h4 
            font-size 24px
            float-w(100%)
            color #000
            font-family fontB2
            margin-bottom 20px
            position relative
            
        
        
        p
            font-size 20px
            margin 20px 0
            
        h4::before
            content ''
            position absolute
            display block
            width 84px
            height 84px
            bgP(center,center,contain)
            left -123px
            top 5px
            background url(../img/inf-ico.png)
            
    .info__dvm
        float-w(100%)
        margin-top 40px
        
        img
            width 100%
            height auto
            display block