.tomakao 
    padding-top 100px
    
    .tomakao__floating
        float-w(100%)
        
        .tomakao__floating_item
            width 620px
            border-left solid 1px colB
            
            article
                
                h3
                    color coltxt2
                    margin-bottom 40px
                    