.window
    height 550px
    position relative
    
    .window__w-top
        abs(block,100%,74px,0,0)
        bgP(top,center,cover)
        background url(../img/w-top.png)
        
    .window__w-bot
        abs(block,100%,74px,auto,0)
        bgP(top,center,cover)
        background url(../img/w-bot.png)
        bottom 0px
        
    .window__back-img
        abs(block,100%,100%,0,0)
        bgP(center,center,cover)
        background url(../img/bg-w.jpg)
    